<!-- DASHBOARD COMPONENT -->
<!-- <aql-dashboard></aql-dashboard> -->

<div class="container">
  <div class="row welcome">
    <h1>Bem-vindo ao AquaLogic!</h1>
  </div>
  <div class="row about-app">
    <p>
      AquaLogic foi desenvolvido exclusivamente para facilitar o seu trabalho na
      manutenção de seu aquário.
    </p>
    <img src="../../../assets/images/home/clown-fish.jpg" alt="An clown fish" />
  </div>
  <div class="row about-aquarium">
    <img src="../../../assets/images/home/beta.jpg" alt="An beta fish" />
    <p>
      Cadastre seus aquários, crie alertas de troca de filtros e de água,
      registre parâmetros e acompanhe todo o histórico de seu aquário
    </p>
  </div>
  <div class="row">
    <p>
      Com o atlas, você fica informado sobre o mundo do aquarismo, buscando
      rapidamente informações sobre espécies de fauna e flora
    </p>
    <img src="../../../assets/images/home/coral.jpg" alt="An green coral" />
  </div>
</div>
