<div class="flex-container">
  <div class="flex-item">
    <aql-card title="Animais">
      <ul>
        <li>Colisa (Colisa)</li>
        <li>Trichogaster (Alfred)</li>
        <li>Kinguio (Laranja)</li>
      </ul>
    </aql-card>
  </div>
  <div class="flex-item">
    <aql-card title="Plantas">
      <ul>
        <li>Não há plantas</li>
      </ul>
    </aql-card>
  </div>
  <div class="flex-item">
    <aql-card title="Alertas">
      <ul>
        <li>Realizar TPA em X dias</li>
        <li>Administrar anti-fúngico em X dias</li>
        <li>Substituir mídias biológicas em x dias</li>
      </ul>
    </aql-card>
  </div>
  <div class="flex-item">
    <aql-card title="Equipamentos">
      <ul>
        <li>Filtro Hang-on (Modelo)</li>
        <li>Termostato (Modelo)</li>
      </ul>
    </aql-card>
  </div>
  <div class="flex-item">
    <aql-card title="Parâmetros">
      <ul>
        <li>PH: X</li>
        <li>Sulfato: X</li>
        <li>Amônia: X</li>
      </ul>
    </aql-card>
  </div>
  <div class="flex-item">
    <aql-card title="Histórico">
      <ul>
        <li>TPA realizada em xx/xx/xxxx</li>
        <li>Anti-fúngico administrado em xx/xx/xxxx</li>
        <li>TPA realizada em xx/xx/xxxx</li>
      </ul>
    </aql-card>
  </div>
</div>
